/* HTML5 Browser reset
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    /*    reset font-size for rem*/
    font-size: 62.5%;
}
body  {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
}

/*CSS for Sticky footer*/
html, body {
  height: 100%;
}
main  {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 80px;
}
   main:after {
     content: "";
     display: block;
     height: 20px;
   }
/*End Sticky footer stylings*/

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 4em;
    background-image: linear-gradient(135deg,
                      rgb(254,255,255) 0%,
                      rgb(205,109,110) 35%,
                      rgb(241,7,8) 100%);
    background-size: 200%;
}

/* Makes images fluid */
img {
    max-width: 100%;
    height: auto;
}


#B {
    display:inline-block;
    font-size: 9rem;
    font-weight: 700;
    line-height: 150px;
}

#t {
    display:inline-block;
    font-size: 9rem;
    font-weight: 700;
    vertical-align: -3rem;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem auto;
}

#title {
    position: relative
}


h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    height:auto;
}
h1::before  {
    content: "The";
    position: relative;
    top: -4rem;
    left: 20.5rem;
}

h3  {
    font-family: 'Old Standard TT', serif;
}


#album_cover {
    width: 45rem;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

section {
    font-size: 3.2rem;
    font-weight: 600;
    margin-left: 6px;
}

hr {
    color: #F10708;
    border-style: inset;
    border-width: 3px;
}

p {
    font-family: 'Cormorant SC', serif;
    margin: 5px 20px;
    max-width: 90vw;
    font-weight: 500;
    font-size: 2.2rem;
    font-style: normal;
    padding: 3px;
    line-height: 2.3rem;
    text-indent: 5rem;
}

p.intro {
    margin: 2rem 1rem;
    font-family: 'Cormorant SC', serif;
    font-weight: 600;
    font-size: 2.6rem;
    font-style: normal;
    line-height: 2.6rem;
    text-indent: 0px;
}

p.intro:first-letter {
    color: #F10708;
    float: left;
    font-family: Georgia;
    font-size: 100px;
    line-height: 70px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

blockquote {
  font-family: Georgia;
  font-size: 2rem;
  max-width: 70vw;
  background: rgba(244, 15, 15, .5);
  border-left: 10px solid #F10708;
  margin: 1.5em 50px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #F10708;
  content:open-quote;
  font-size: 4em;
  line-height: 0.5rem;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #F10708;
  content: close-quote;
  font-size: 3em;
  line-height: .5rem;
  margin-left: 0.5rem;
  vertical-align: -0.4em;
}

aside {
    float: right;
    width: 25vw;
    margin: 10px 15px;
}


.theBeatles {
    font-family: Georgia;
    font-weight: 450;
    margin: 5px 20px;
    max-width: 90vw;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background: #F10708;
    text-align: center;
    font-size: 2rem;
    font-family: Georgia;
    z-index: 999;
}

#footer_menu i:hover:before {
    font-size: 3.6rem;
}

ul#footer_menu {
    list-style-type: none;
    margin: 10px auto;
    width: 50vw;
    /*Control width of footer. It extends past viewport without width. */
}

#footer_menu li {
    display: inline-block;
    margin: .5rem 3rem;
}

#footer_menu i {
    max-height: 3.0rem;
    max-width: 3.0re
    /* position:absolute prevents other icons from moving on hover */
}
    #footer_menu i[class="fa fa-facebook fa-2x"] {
        color: #3B5998;
    }
    #footer_menu i[class="fa fa-wikipedia-w fa-2x"] {
        color: black;
    }
    #footer_menu i[class="fa fa-twitter fa-2x"] {
        color: #5DBCEE;
    }

/*CSS for the Slide Out Menu*/
.navigation {
    list-style: none;
    background: #FFFF00;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 2.3rem;
  text-decoration: none;
  transition: color 0.4s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
    transition: left 0.3s;
}

/*Media Queries*/
@media screen and (max-width: 350px) {
    ul#footer_menu {
      min-width: 80vw;
    }
    #footer_menu  i{
       font-size: 2rem;
    }
}

